/**
 * HTML
 */

html {
  margin: 20px;
}

body {
  max-width: 900px;
  font: 400 16px/1.5 Arial;
  color: #111;
  background-color: #fdfdfd;
  border: 1px solid #e1e4e8;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

/**
 * Basics
 */

h1,
h2,
h3 {
  border-bottom: 1px solid #eaecef;
  color: #111;
}

p {
  line-height: 24px;
  font-weight: 400;
  color: #24292e;
}

ul {
  margin-top: 0;
}

li {
  color: #24292e;
  font-weight: 400;
  line-height: 1.5;
}

li+li {
  margin-top: 0.25em;
}

hr {
  color: #bbb;
  background-color: #bbb;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

img {
  max-width: 100%;
  
}

/**
 * Links
 */

a {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
  color: #0366d6;
}

a:hover {
  color: #0366d6;
  text-decoration: underline;
}

/**
  * Code blocks
  */

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 90%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  font-family: monospace;
}


/* ` .... ` */
code {
  background-color: rgba(27, 31, 35, .05);
  border-radius: 3px;
  font-size: 90%;
  margin: 0;
  word-wrap: break-word;
  padding: .2em .4em;
  font-family: monospace;
  /* Liberation Mono, Menlo, Courier; */
}


/* ``` .... ``` */
pre>code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  /* overflow: visible; */
  overflow: auto;
  /* scroll */
  padding: 0;
  word-wrap: normal;
  font-size: 90%;
}


/**
 * Blockquotes
 */

blockquote {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  padding: 0 1em;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote * {
  font-style: normal !important;
  letter-spacing: 0;
  color: #6a737d !important;
}

/**
 * Tables
 */

table {
  border-spacing: 2px;
  display: block;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/**
 * Misc
 */

/* TODO: how to apply nice CSS for TOC? */